/* App.css */

/* 
 * Extends the navbar to 100px and sets the height and padding of the logo
 * http://codepen.io/bootstrapped/pen/KwYGwq/
 */
.navbar-header {
  height: 100px;
}
.navbar-brand {
  padding: 10px 10px;
  height: 100px;
  position: absolute;
  /* Method to center the logo */
  transform: translateX(-50%);
  left: 50%;
}
.navbar-brand > img {
  height: 100%;
  width: auto;
}
.navbar-toggle {
  padding: 10px;
  margin: 30px 15px 30px 0;
}
.navbar,
.kk-messages {
  margin-bottom: 20px;
}
.navbar-default {
  border-radius: 0px;
}

@media (min-width: 768px) {
  /* @screen-sm-min */
  .nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .navbar-brand {
    transform: none;
    left: initial;
  }
  .navbar {
    margin-bottom: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  .kk-messages {
    margin-bottom: 0px;
  }
}

/*
 * Theaming
 */
.h1,
h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #2d4060;
}

.img-thumbnail {
  background-color: #e1e8f2;
}

/*
 * Make ReactModal look like bootstrap
 */

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content:focus {
  outline: 0;
}

.ReactModal__Content--after-open {
  transition: opacity 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  transition: opacity 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}

/*
  * kk- Helpers
  */
.kk-m-0-auto {
  margin: 0 auto;
}

.kk-m-20-auto {
  margin: 20px auto;
}

.kk-mt-20 {
  margin-top: 20px;
}

.kk-max-width-345 {
  max-width: 345px;
}

.kk-display-block {
  display: block;
}

.row.kk-center-vertical > div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.kk-blue-box {
  display: inline-block;
  padding: 20px 15px;
  background-color: #c2cfe3;
}

.kk-body {
  min-width: 300px;
  background-color: #465a78;
  background-position: center top;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='500' height='500' viewBox='0 0 100 125'><g transform='translate(0,-952.36216)'><path fill='#2d4060' stroke='none' d='m 48.23046,962.11418 c -5.3849,0.0179 -10.91626,1.68042 -15.76757,5.09766 -8.70631,6.13269 -12.82045,16.23172 -11.36133,25.58203 3.21194,-1.1605 6.69818,-1.80469 10.34765,-1.80469 5.01988,0 9.73949,1.20546 13.84571,3.32227 5.37187,-5.72887 13.24498,-9.35156 22.03125,-9.35156 1.7996,0 3.55752,0.15482 5.26758,0.44531 -0.0767,-4.63173 -1.45784,-9.21508 -4.26563,-13.20117 C 63.657,965.57265 56.1007,962.08806 48.23046,962.11418 Z m -5.32617,2.84766 2.00391,1.44727 5.5957,-0.84375 -1.51172,2.48437 2.64258,2.12695 -3.89062,1.65821 -2.30274,3.49218 -3.3457,-0.42187 -5.50781,2.23242 -0.27539,-2.17969 -4.57032,-0.70898 3,-2.30274 -0.1875,-3.11718 4.01367,-0.68555 z' style='' /><path fill='#2d4060' stroke='none' d='m 68.55078,987.63762 c -8.01308,0 -15.18928,3.33557 -20.03907,8.60156 7.08441,4.89612 11.67774,12.76282 11.67774,21.63282 0,5.837 -1.98777,11.2428 -5.36719,15.6504 4.00152,2.2759 8.70264,3.5859 13.72852,3.5859 C 83.15763,1037.1083 95,1026.0372 95,1012.3759 95,998.71463 83.15763,987.63762 68.55078,987.63762 Z m 3.22851,3.19922 2.99414,1.99805 4.78711,0.54492 0.35156,2.1914 4.10157,2.86524 -2.55469,0.72656 0.31641,3.02929 -3.53321,-1.2832 -3.70312,0.9141 -1.85156,-2.3262 -4.9336,-1.89258 1.22461,-1.61719 -2.45508,-3.26953 3.38086,0.30469 z' style='' /><path fill='#2d4060' stroke='none' d='M 31.44921,993.13371 C 16.84236,993.13371 5,1004.2107 5,1017.872 c 0,13.6613 11.84236,24.7383 26.44921,24.7383 14.60686,0 26.44922,-11.077 26.44922,-24.7383 0,-13.6613 -11.84236,-24.73829 -26.44922,-24.73829 z m 7.56446,3.31641 1.74023,2.8125 7.28906,1.59378 -3.09961,2.4726 2.17969,3.9844 -5.60742,0.2696 -4.57617,3.3808 -3.89063,-2.1387 -7.88086,0.2286 0.75586,-2.9297 -5.25586,-3.0996 4.82813,-1.5176 1.33008,-4.08988 5.27343,1.03711 6.91407,-2.00391 z' style='' /></g></svg>");
}

.kk-icon-lg-green {
  color: #669a3e;
  vertical-align: middle;
  font-size: 30px;
}

/*positon: relative; prevents a dropshadow on the message*/
.kk-status {
  padding: 0;
  position: relative;
  font-size: 16px;
}

.kk-status > div {
  padding: 20px 15px;
  background-color: #91c59c;
}

.kk-status p:last-child {
  margin-bottom: 0px;
}

/*positon: relative; prevents a dropshadow on the message*/
.kk-warning {
  padding: 0;
  position: relative;
  font-size: 16px;
}

.kk-warning > div {
  padding: 20px 15px;
  background-color: #fff99e;
}

.kk-warning p:last-child {
  margin-bottom: 0px;
}

.kk-body-container {
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

.kk-contact-footer {
  background: #e1e8f2;
  border-top: 1px solid #dadada;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.kk-contact-footer hr {
  margin: 5px auto;
}

.kk-footer-logo {
  margin-bottom: 10px;
  margin-top: 10px;
}

.kk-footer-map {
  border: 4px solid #2d6028;
  border-radius: 30px;
  display: block;
  margin: 20px auto;
}

.kk-footer {
  background-color: #142a12;
  padding: 20px;
  color: white;
}
