/* App.css */

/* 
 * Extends the navbar to 100px and sets the height and padding of the logo
 * http://codepen.io/bootstrapped/pen/KwYGwq/
 */
.navbar-brand {
  padding: 0px;
  height: 100px;
  /* Method to center the logo
  transform: translateX(-25%);
  left: 25%;*/
  position: absolute;
}
.navbar-brand > img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}
.navbar-toggle {
  padding: 10px;
  margin: 35px 15px 35px 0;
}
@media (min-width: 768px) { /* @screen-sm-min */
    .nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*
 * Status Area
 */
.kk-status {
  margin-bottom: 20px;
}
.kk-status p:last-child {
  margin-bottom: 0;
}